<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title><%= content_for?(:title) ? yield(:title) : "Shyenmai" %></title>
  <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : '' %>">
  <meta name="keywords" content="<%= content_for?(:meta_keywords) ? yield(:meta_keywords) : '' %>">

  <!-- Favicons -->
  <%= favicon_link_tag 'Logo/shyenmai-logo.png' %>
  <%= favicon_link_tag 'Logo/Shyenmai-logo-white.png', rel: 'apple-touch-icon' %>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial:wght@400&display=swap" rel="stylesheet">

  <!-- Stylesheets -->
  <%= stylesheet_link_tag 'spree/frontend', media: 'all' %>
  <%= javascript_include_tag 'spree/frontend', defer: true %>
  <%= csrf_meta_tags %>



  <%= yield(:head) %>
</head>

<body class="<%= content_for?(:body_class) ? yield(:body_class) : '' %>">

  <%= render partial: 'spree/shared/flash' %>


  <%= yield %>

  asdfadsfasdfasdfasdfsdfs
  <%= yield(:scripts) %>
</body>
</html>
